{
  "openapi": "3.0.1",
  "info": {
    "title": "Samurai",
    "description": "A chatGPT alternative for business",
    "license": {
      "name": "MIT"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "http://app.samuraichat.com/api/v1/"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/assistants": {
      "post": {
        "description": "Creates a new assistant",
        "requestBody": {
          "description": "Assistant configuration",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "workspace_id": {
                    "type": "string"
                  },
                  "user_id": {
                    "type": "string"
                  },
                  "sharing": {
                    "type": "string"
                  },
                  "context_length": {
                    "type": "integer",
                    "format": "int32"
                  },
                  "description": {
                    "type": "string"
                  },
                  "embeddings_provider": {
                    "type": "string"
                  },
                  "include_profile_context": {
                    "type": "boolean"
                  },
                  "include_workspace_instructions": {
                    "type": "boolean"
                  },
                  "model": {
                    "type": "string"
                  },
                  "name": {
                    "type": "string"
                  },
                  "image_path": {
                    "type": "string"
                  },
                  "prompt": {
                    "type": "string"
                  },
                  "temperature": {
                    "type": "number",
                    "format": "float"
                  }
                },
                "required": [
                  "workspace_id",
                  "user_id",
                  "sharing",
                  "context_length",
                  "description",
                  "embeddings_provider",
                  "include_profile_context",
                  "include_workspace_instructions",
                  "model",
                  "name",
                  "prompt",
                  "temperature"
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Assistant created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "assistant_id": {
                      "type": "string"
                    }
                  },
                  "required": ["assistant_id"]
                }
              }
            }
          },
          "400": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/chats": {
      "post": {
        "description": "Initiates a new chat session",
        "requestBody": {
          "description": "Chat session parameters",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "user_id": {
                    "type": "string"
                  },
                  "assistant_id": {
                    "type": "string"
                  },
                  "model": {
                    "type": "string"
                  },
                  "workspace_id": {
                    "type": "string"
                  }
                },
                "required": [
                  "user_id",
                  "assistant_id",
                  "model",
                  "workspace_id"
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Chat session initiated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "chat_id": {
                      "type": "string"
                    }
                  },
                  "required": ["chat_id"]
                }
              }
            }
          },
          "400": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/messages": {
      "post": {
        "description": "Sends a new message",
        "requestBody": {
          "description": "Message parameters",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "chat_id": {
                    "type": "string"
                  },
                  "assistant_id": {
                    "type": "string"
                  },
                  "user_id": {
                    "type": "string"
                  },
                  "content": {
                    "type": "string"
                  },
                  "image_paths": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "model": {
                    "type": "string"
                  },
                  "role": {
                    "type": "string"
                  },
                  "sequence_number": {
                    "type": "integer",
                    "format": "int32"
                  }
                },
                "required": [
                  "chat_id",
                  "assistant_id",
                  "user_id",
                  "content",
                  "image_paths",
                  "model",
                  "role",
                  "sequence_number"
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Message sent successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message_id": {
                      "type": "string"
                    }
                  },
                  "required": ["message_id"]
                }
              }
            }
          },
          "400": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/runs/message": {
      "post": {
        "description": "Sends a message in a specific chat run",
        "requestBody": {
          "description": "Message parameters",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "assistant_id": {
                    "type": "string"
                  },
                  "chat_id": {
                    "type": "string"
                  },
                  "user_id": {
                    "type": "string"
                  },
                  "content": {
                    "type": "string"
                  }
                },
                "required": [
                  "assistant_id",
                  "chat_id",
                  "user_id",
                  "content"
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Message sent successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message_id": {
                      "type": "string"
                    }
                  },
                  "required": ["message_id"]
                }
              }
            }
          },
          "400": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/runs/message/lead-connector": {
      "post": {
        "description": "Sends a message in a lead connector context",
        "requestBody": {
          "description": "Lead connector message parameters",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "assistant_id": {
                    "type": "string"
                  },
                  "chat_id": {
                    "type": "string"
                  },
                  "connection_id": {
                    "type": "string"
                  },
                  "contact_id": {
                    "type": "string"
                  },
                  "message_type": {
                    "type": "string"
                  },
                  "content": {
                    "type": "string"
                  }
                },
                "required": [
                  "assistant_id",
                  "chat_id",
                  "connection_id",
                  "contact_id",
                  "message_type",
                  "content"
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Message sent successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message_id": {
                      "type": "string"
                    }
                  },
                  "required": ["message_id"]
                }
              }
            }
          },
          "400": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Error": {
        "required": [
          "error",
          "message"
        ],
        "type": "object",
        "properties": {
          "error": {
            "type": "integer",
            "format": "int32"
          },
          "message": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    }
  }
}
